.InputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    color: gray;
    cursor: pointer;
}

.InputOption:hover {
    background: whitesmoke;
    border-radius: 10px;
}

.InputOption h4 {
    margin-left: 5px;
}